.container {
    padding: 5%;
}
form#basic {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.border {
    /*display: grid;*/
    /*grid-template-columns: repeat(4, 1fr);*/
    list-style: none;
    padding: 0;
}
.border li {
    padding: 7px 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
    -2px -2px 5px 0 rgba(0,0,0,.1),
    2px 2px 5px 0 rgba(0,0,0,.1),
    -2px 2px 5px 0 rgba(0,0,0,.1);
    font-size: 20px;
    letter-spacing: 2px;
    justify-content: space-between;
    display: flex;
}
.border li:hover {
    cursor: pointer;
}
.ant-modal-footer {
    display: none;
}
.ant-form-item-control-input-content {
    display: flex;
    justify-content: flex-end;
}
.ant-modal-close-x {
    line-height: 26px !important;
}
.ant-modal-header {
    padding: 2px 8px !important;
}
.ant-form-item {
    margin-bottom: 5px !important;
}
.editCancelBtn {
    margin-right: 10px;
}
.ant-modal-body {
    padding: 5px 10px 1px 10px !important;
}
.btnsWrapper  img {
    width: 20px;
}
.resetBtn {
    margin: 0 8px;
}
.searchByName {
    margin-bottom: 10px;
}
.ant-row.ant-form-item {
    display: block;
}
.filteredWrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
